<body th:replace="~{fragments/layout::layout(~{this::body})}" >

	<h1 class="center-text" th:text="${isNew} ? 'Crear usuario' : 'Editar usuario'" ></h1>
	<br/>
	<form th:object="${user}"id="user-form" method="post">
		<div class="form-group row">
			<label for="DNI" class="col-2 control-label">DNI</label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{DNI}" size="9" maxlength="9" required="required" placeholder="Introducir DNI..."/>
			</div>
		</div>	
		<div class="form-group row">
			<label for="name" class="col-2 control-label">Nombre</label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{name}" size="30" maxlength="30" placeholder="Introducir nombre..."/>
			</div>	
		</div>	
		<div class="form-group row">
			<label for="numTrophies" class="col-2 control-label">Trofeos</label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{numTrophies}" size="5" maxlength="5" placeholder="Introducir número de trofeos..."/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">
				<button type="submit" class="btn btn-lg btn-block btn-primary" th:with="text=${isNew} ? 'Crear' : 'Guardar'" th:text="${text}">
				Guardar</button>
			</div>
		</div>
	</form>
</body>
