<body th:replace="~{fragments/layout::layout(~{this::body})}" >

	<h1 class="center-text" th:text="${isNew} ? #{AddNewUser} : #{EditUser}"></h1>
	<br/>
	<form th:object="${user}"id="user-form" method="post">
		<div class="form-group row">
			<label for="DNI" class="col-sm-3 control-label font-weight-bold" style="font-size:20px">DNI:</label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{DNI}" maxlength="9" required="required" th:placeholder="#{EnterDNI}" th:disabled="${!isNew}"/>
			</div>
			<div class="col-sm-4" th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}" style = "color:red"></div>	
		</div>	
		<div class="form-group row">
			<label for="name" class="col-sm-3 control-label font-weight-bold" style="font-size:20px" th:text="#{Name.}"></label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{name}" size="30" maxlength="30" required="required" th:placeholder="#{EnterUsername}"/>				
			</div>
			<div class="col-sm-4" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style = "color:red"></div>	
		</div>	
		<div class="form-group row">
			<label for="numTrophies" class="col-sm-3 control-label font-weight-bold" style="font-size:20px" th:text="#{NumTrophies.}"></label>
			<div class="col-sm-4">
				<input class="form-control" th:field="*{numTrophies}" size="5" maxlength="5" required="required" th:placeholder="#{EnterNumTrophies}"/>
			</div>
			<div class="col-sm-4" th:if="${#fields.hasErrors('numTrophies')}" th:errors="*{numTrophies}" style = "color:red"></div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<button type="submit" class="btn btn-lg btn-block btn-primary" th:with="text=${isNew} ? #{Add} : #{Edit}" th:text="${text}"></button>
			</div>
		</div>
	</form>
</body>
