<th:block th:fragment="header">
	<nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/resources/img/reddit-icon.jpg}" width="30" height="30" alt="reddit-icon"> Reddit
		</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbars">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:text="#{Users}" th:href="@{/users}"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:text="#{Subreddits}" th:href="@{/subreddits}"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:text="#{Follows}" th:href="@{/follows}"></a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{?lang=en}"><img src="https://img.icons8.com/cute-clipart/48/000000/great-britain.png"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{?lang=es}"><img src="https://img.icons8.com/color/48/000000/spain.png"></a>
				</li>
			</ul>
		</div>
	</nav>
</th:block>



