<!DOCTYPE html>
<html th:fragment="layout(contentMain)" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head::head"/>
</head>
<body>
	<!-- Header fragment -->
	<header>
		<th:block th:replace="fragments/header::header"/>
	</header>	
	<hr/>
	<!-- Main fragment -->
	<main role="main" class="container">
		<th:block th:include="${contentMain}"/>
	</main>
	
	<!-- Footer fragment -->
	<th:block th:replace="fragments/footer::footer"/>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>