<body th:replace="~{fragments/layout::layout(~{this::body})}">
	<h1 class="center-text" th:text="ListFollows"></h1>
	<br/>
	<form th:action="@{/follows}" method="post" id="buscar-form">
		<div class="form-group row">
			<label for="DNIUser" class="col-3 control-label font-weight-bold" style="font-size:20px">DNI:</label>
			<div class="col-sm-7 ">
				<input class="form-control" th:name="DNIUser" size="30" maxlength="80" th:placeholder="#{EnterDNISearch}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="nameSubreddit" class="col-3 control-label font-weight-bold" style="font-size:20px" th:text="#{SubredditName.}"></label>
			<div class="col-sm-7 ">
				<input class="form-control" th:name="nameSubreddit" size="30" maxlength="80" th:placeholder="#{EnterSubredditSearch}" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-3">
				<button type="submit" class="btn btn-block btn-outline-info" th:text="#{Search}"></button>
			</div>
		</div>		
	</form>
	<a class="btn btn-block btn-primary" th:href="@{/follows/add_user_follow_subreddit}" th:text="#{AddNewFollows}"></a>
	<br/>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">DNI</th>
				<th class="text-center" th:text="#{UserName}"></th>
				<th class="text-center" th:text="#{SubredditName}"></th>
				<th class="text-center" th:text="#{DateStartFollow}"></th>
				<th class="text-center" th:text="#{Actions}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="follow : ${usersFollowSubreddit}">
				<td class="text-center">
					<a th:href="@{/users/__${follow.user.DNI}__}" th:text="${follow.user.DNI}" /></a>
				</td>
				<td class="text-center" th:text="${follow.user.name}"/>
				<td class="text-center" th:text="${follow.subreddit.name}"/>
				<td class="text-center" th:text="${follow.dateStartFollow}"/>
				<td class="text-center">
					<a class="btn btn-danger" th:href="@{/follows/__${follow.subreddit.id}__/__${follow.user.DNI}__/remove}" th:text="#{Delete}"></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-warning mx-auto w-50 p-3 text-center" th:if="${usersFollowSubreddit==null or usersFollowSubreddit.empty}" th:text="#{emptyListUsersFollowSubreddit}">
    </div>
</body>
