<!DOCTYPE html>
<html th:fragment="layout(contentMain)" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head::head"/>
</head>
<body>
	<!-- Header fragment -->
	<header>
		<th:block th:replace="fragments/header::header"/>
	</header>	
	<hr/>
	<!-- Main fragment -->
	<main role="main" class="container">
		<h1 class="text-danger" th:text="#{MessageError}"></h1>
		</br>
		<p th:text="${messageError} ? ${messageError} : #{ErrorOcurred}"></p>	
		</br>
		<a class="btn btn-info" th:text="#{Back}" th:href="${pageToReturn} ? @{/__${pageToReturn}__} : @{/}"></a>
	</main>
	
	<!-- Footer fragment -->
	<th:block th:replace="fragments/footer::footer"/>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>