<!DOCTYPE html>
<html th:fragment="layout (titulo, contenido)" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head::head"/>
</head>

<body>
	<!-- Header fragment -->
	<header>
		<th:block th:replace="fragments/header::header"/>
	</header>	
	<hr/>
	<main role="main" class="container pt-5">
		<div class="container-fluid">
			<h1>Pagina de inicio</h1>
		</div>
	</main>
	
	<!-- Footer fragment -->
	<th:block th:replace="fragments/footer::footer"/>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>
</html>