<body th:replace="~{fragments/layout::layout(~{this::body})}">
	<h1 class="center-text" th:text="#{SubredditList}"></h1>
	<br/>
	<form th:action="@{/subreddits}" method="post" id="buscar-form">
		<div class="form-group row">
			<label for="name" class="col-2 control-label font-weight-bold" style="font-size:20px" th:text="#{Name.}"></label>
			<div class="col-sm-7 ">
				<input class="form-control" th:name="nameSubreddit" size="30" maxlength="80" th:placeholder="#{EnterSubredditSearch}" />
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-block btn-outline-info" th:text="#{Search}"></button>
			</div>
		</div>		
	</form>
	<a class="btn btn-block btn-primary" th:href="@{/subreddits/add_subreddit}" th:text="#{AddNewSubreddit}"></a>
	<br/>
	<div class="album py-5 bg-light">
		<div class="container">
	    	<div class="row" >
	        	<div class="col-md-4" th:each="subreddit : ${subreddits}">
	          		<div class="card mb-4 box-shadow">
	            		<h4 th:text="@{#{Name.}+' '+__${subreddit.name}__}" class="text-center p-3"></h4>
	            		<hr/>
	            		<div class="card-body">
	            			<p class="card-text" th:text="@{#{Description.}+' '+__${subreddit.description}__}"></p>
	            			<div class="d-flex justify-content-between align-items-center">
	            				<div class="btn-group">
	            					<a class="btn btn-sm btn-outline-secondary" th:href="@{/subreddits/__${subreddit.id}__}" th:text="#{Edit}"></a>
									<a class="btn btn-sm btn-outline-secondary" th:href="@{/subreddits/__${subreddit.id}__/remove}" th:text="#{Delete}"></a>
									<a class="btn btn-sm btn-outline-secondary" th:href="@{/subreddits/__${subreddit.id}__/followers}" th:text="#{Followers}" >Seguidores</a>
								</div>
							</div>
	          			</div>
	          		</div>
	          	</div>	
	    	</div>
	    </div>
    </div>
</body>
